<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="authority"            value="https://login.windows.net/leapno.onmicrosoft.com"/>
    <add key="clientDomain"         value="leapno.onmicrosoft.com"/>
    <add key="officeGraphResource"  value="https://graph.microsoft.com" />
    <add key="applicationId"        value="a25be7f4-918d-4310-b33e-991a10544dab"/>
    <add key="redirectUri"          value="http://somewhere.nice.com"/>
  </appSettings>
</configuration>